.react-search {
  margin: 50px 0;
}

#searchInput {
  border-radius:0.28571429rem;
}

.react-link {
  color: blue;
}

.react-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.results {
  opacity: 0.85;
}
